@import "../../../styles/mixins.pcss";

.logo {
  padding: 8px;
  line-height: 1;
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--c-light);
  border-radius: var(--border-radius);
}
