@import "../../../styles/mixins.pcss";

.grid {
  --columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 20px;

  @media (--mobile) {
    gap: 15px;
  }

  @for $i from 2 to 12 {
    &--$i {
      --columns: $i;
    }
  }

  @for $i from 2 to 4 {
    &--$i {
      @media (--tablet-s) {
        --columns: 2;
      }

      @media (--mobile) {
        --columns: 1;
      }
    }
  }

  &__item {
    &--wide {
      grid-column: -1 / 1;
    }
  }
}