@import "../../../styles/mixins.pcss";

.container {
  --container-max-width: calc(var(--grid-width) + var(--grid-padding) * 2);

  width: 100%;
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--grid-padding);
}